/* Forms*/
.form-actions {background: none; padding: 10px 0; margin-bottom: 0;}

/* Misc */
.left {float: left}
.right {float: right}
.center {text-align: center}
.b {font-weight: bold}

/* Colors */
.green {color: #68b604;}
.green2 {color: #58AA00;}
.magenta {color: #A839B2;}
.pink {color: #FF0071;}
.olive {color: #ACD030;}
.turquoise {color: #00AA78}
.blue {color: #0074AE}

/* Site */
.main-menu li {font-size: 10px; text-transform: uppercase;}

.container .todo.at-datagrid ul li { 
	display: inline-block;
}

