/* List options */
.show-items-list {margin-left: 0}
.show-items-list li {float: left; list-style: none; margin: 0 4px;}
.show-items-list li:first-child {margin-left: 0;}

/* Grid filters */
.atf-grid table .filters {background-color: #E3EFF1; font-size: 0.9em;}
.atf-grid table .filters td div {clear: both;}
.atf-grid table .filters .form-control {width: 92%;}
.atf-grid table .actions {width: 100px;}

/* Sorting */
a.sortable:hover {text-decoration: none;}
.sortable > .active {color: #DD4B39;}

/* Group actions */
.atf-grid-group-actions {}

/* Item */
.item-info {margin-bottom: 10px; padding-bottom: 10px;}
.item-info .back {font-size: 11px;}
.item-info .back a {text-decoration: none;}
.item-info .info {font-size: 14px;}

/* general */
.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}

/* pagination */
.container-buttons-pagination .btn-toolbar {
	margin-top:20px;
	margin-right:20px;
	float:left;
}

.container-buttons-pagination .pagination {
	float:left;
	margin-top:11px;
}

